#!/usr/bin/make -f

# Ignore graphics and .mo files in addition to the default debian files
DEB_COPYRIGHT_CHECK_IGNORE_REGEX = ^(locale/.*/.*\.mo|data/dark/.*\.png|icons/.*\.png|LICENSE|debian/(changelog|copyright(|_hints|_newhints)|electrum.translations))$

%:
	dh $@ --buildsystem=pybuild

# This builds paymentrequest_pb2.py, which is necessary for BIP70
execute_before_dh_auto_build::
	# Generate paymentrequest_pb2.py from paymentrequest.proto
	contrib/generate_payreqpb2.sh

override_dh_auto_build:
	dh_auto_build

	# Convert forms/*.ui to .py files
	# Adapted from https://github.com/namecoin/electrum-nmc/blob/nc4.0.6/contrib/make_qt_forms
	for FORMXMLPATH in electrum_nmc/electrum/gui/qt/forms/*.ui; do \
	    FORMPYPATH=$$(echo $$FORMXMLPATH | sed 's/\.ui$$/.py/'); \
	    pyuic5 "$$FORMXMLPATH" --execute --output="$$FORMPYPATH"; \
	    sed -i s/qpaytoedit/.qpaytoedit/ "$$FORMPYPATH"; \
	    sed -i s/qvalidatedlineedit/.qvalidatedlineedit/ "$$FORMPYPATH"; \
	done

override_dh_installchangelogs::
	dh_installchangelogs -k RELEASE-NOTES

execute_after_dh_auto_install::
	# Remove duplicate
	rm debian/tmp/usr/lib/python3*/dist-packages/electrum_nmc/electrum/plugins/revealer/DejaVuSansMono-Bold.ttf

	# These don't work, I'm not sure why.
	# Remove the unnecessary plugin README with instructions about how to contribute plugins to the project.
	#rm debian/tmp/usr/lib/python3*/dist-packages/electrum_nmc/electrum/plugins/README
	# Remove bundled executable in the python directory.
	#rm debian/tmp/usr/lib/python3*/dist-packages/electrum_nmc/electrum/electrum-nmc

execute_before_dh_python3::
	# The dependency is inconvenient and unnecessary (say the electrum package devs, probably true!)
	sed -Ei -e '/^qdarkstyle/d' debian/python3-electrum-nmc/usr/lib/python3*/dist-packages/*.egg-info/requires.txt
